**In this final lab, we will model our data. Import sklearn train_test_split and separate the data.**

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns
pd.set_option('display.max_columns', None)

**Load the csv. Use the variable customer_df as customer_df = pd.read_csv().**

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [3]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

**What should we do with the customer_id column?**

*We have to drop customer_id columnn as it doesn't add value to dataset. Also 'Policy Type' is redundant and the same as 'Policy'*

In [4]:
customer_df = customer_df.drop(['Customer', 'Policy Type'], axis = 1)

**Load the continuous and discrete variables into numericals_df and categorical_df variables**

In [5]:
numerical = customer_df.select_dtypes(np.number)
categorical = customer_df.select_dtypes(np.object)

C:\Users\nkhat\AppData\Local\Temp\ipykernel_15904\3522850787.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = customer_df.select_dtypes(np.object)

**Plot every categorical variable. What can you see in the plots? Note that in the previous lab you used a bar plot to plot categorical data, with each unique category in the column on the x-axis and an appropriate measure on the y-axis. However, this time you will try a different plot. This time in each plot for the categorical variable you will have, each unique category in the column on the x-axis and the target(which is numerical) on the Y-axis**

*Here it can be seen that the 'marital status' has a more normal distribution compared to the others. In terms of visualization, 'Policy' and 'Effective To Date' don't have an acceptable appearance. Therefore, bucketing can be used to group them*

In [ ]:
customer_df['Policy'].value_counts()

*It can be grouped into 5 groups. values whose count is less than 1014 can be considered one group.*

In [ ]:
#placing the value_counts of policy in a new dataframe to be able to define a function and group them
vals_policy = pd.DataFrame(customer_df['Policy'].value_counts())

In [ ]:
vals_policy

In [ ]:
vals_policy = vals_policy.reset_index()

In [ ]:
#defining 2 columns for the datafram
vals_policy.columns = ['Policy', 'Count']

In [ ]:
vals_policy.info()

In [ ]:
#Grouping the policies less than 1014 into one group
vals_policy_new = vals_policy[vals_policy['Count'] < 1014]

In [ ]:
vals_policy_new

In [ ]:
#converting the grouped dataframe into a list to define the function
vals_policy_new = list(vals_policy_new['Policy'])

In [ ]:
vals_policy_new

In [ ]:
#Defining the function
def policy_cleaner(x):
    if x in vals_policy_new:
        return 'other'
    else:
        return x

In [ ]:
#Applying the function
customer_df['Policy'] = customer_df['Policy'].apply(policy_cleaner)

In [ ]:
#Checking if the function works properly
customer_df['Policy'].value_counts()

In [ ]:
customer_df['Policy'].unique()

In [ ]:
sns.barplot(x='Policy', y="Total Claim Amount", data=customer_df)
plt.show()

In [ ]:
categorical_df['Policy'] = customer_df['Policy']

*Now the 'Policy' column has a better visualization. The same can be done with 'Effective To Date' column*

In [ ]:
#Checking the values of 'Effective to Date' to decide how to group the data
customer_df['Effective To Date'].value_counts()

*The values are between Jan and Feb. So the data can be divided into 2 groups of only Jan and Feb*

In [ ]:
#changing the format of the column to datetime
vals_effective = pd.to_datetime(customer_df['Effective To Date'])

In [ ]:
#defining a function to divide the data into two groups of Jan or Feb
def date_divider(x):
        if x.month == 1:
            return 'Jan'
        else:
            return 'Feb'

In [ ]:
#applying the function to dataframe
vals_effective = vals_effective.apply(date_divider)

In [ ]:
#putting the data in the format of a dataframe
vals_effective = pd.DataFrame(vals_effective)

In [ ]:
vals_effective

In [ ]:
vals_effective.value_counts()

In [ ]:
#Assining the divided groups into the 'Effective To Date' column
customer_df['Effective To Date'] = vals_effective

In [ ]:
customer_df

In [ ]:
categorical_df['Effective To Date'] = customer_df['Effective To Date']

In [ ]:
#Checkin if the visualization has improved
sns.barplot(x='Effective To Date', y="Total Claim Amount", data=customer_df)
plt.show()

*It can be seen that the column visualization has improved after grouping the data only into two groups compared to the previous plot.*

*Checking the values of Vehicle Class', this column also can be dealt with bucketing method as there are values with less frequency.*

In [ ]:
categorical_df['Vehicle Class'].value_counts()

In [ ]:
vals_size = pd.DataFrame(customer_df['Vehicle Class'].value_counts())

In [ ]:
vals_size

In [ ]:
vals_size = vals_size.reset_index()

In [ ]:
vals_size.columns = ['Vehicle Class', 'Count']

In [ ]:
vals_size_new = vals_size[vals_size['Count'] < 1796]

In [ ]:
vals_size_new = list(vals_size_new['Vehicle Class'])

In [ ]:
def size_cleaner(x):
    if x in vals_size_new:
        return 'other'
    else:
        return x

In [ ]:
customer_df['Vehicle Class'] = customer_df['Vehicle Class'].apply(size_cleaner)

In [ ]:
customer_df['Vehicle Class'].value_counts()

In [ ]:
categorical_df['Vehicle Class'] = customer_df['Vehicle Class']

**For the categorical data, check if there is any data cleaning that need to perform. Hint: You can use the function value_counts() on each of the categorical columns and check the representation of different categories in each column. Discuss if this information might in some way be used for data cleaning.**

In [ ]:
categorical_df

In [ ]:
categorical_df['State'].value_counts()

In [ ]:
categorical_df.isna().sum()

*After doing the value_counts() and checking for the null values, there are no columns with null values that need to be dropped or fixed.*

In [ ]:
#Checking the outliers after bucketing some columns:
for i in categorical_df:
    sns.boxplot(data=customer_df, x=i, y='Total Claim Amount', whis = 5)
    plt.show()

**Summary: After checking the boxplot and bars for categorical data, it can be seen that there are some outliers in categorical columns. However, there isn't a process to deal with outliers of categorical columns as they aren't numerica values. One way, as it has been done before can be using value_counts() and bucketing the least frequent values in another group in order to have a more balanced data and less outliers when compared to the target.**

# Lab Feature Extraction Starting From here

**Plot all the categorical variables with the proper plot. What can you see?**

In [ ]:
#using count plot to show the categoricals in a bar plot
for i in categorical_df:
    categorical_df[i].value_counts().plot(kind='bar', xlabel=i, ylabel='count', rot=0)
    plt.show()

*It can be seen that the 'Gender' column has almost the same number of F and M values. Therefore, it won't affect the results and we can drop thos column. Furthermore, the data that has been used here is the one before bucketing. Thus, some columns such as 'effective to date' and 'policy' and 'vehicle class' need to be cleaned. This has been done in the previous lab. Moreover, the column of 'policy type' the value of 'special auto' has a very low number compared to two other groups. Grouping can also be used for this column too.*

**There might be some columns that seem to be redundant, check their values to be sure. What should we do with them?**

In [ ]:
#Checking the values of 'Gender'
customer_df['Gender'].value_counts()

*As can be seen both from counting the values and the plots, gender column has approximately the same number of values and can be dropped as it won't affect the data.*

In [ ]:
customer_df = customer_df.drop(['Gender'], axis = 1)

In [ ]:
categorical_df = categorical_df.drop(['Gender'], axis = 1)

**Plot time variable. Can you extract something from it?**

*Assuming that time variable is the same as 'Effective To Date' column, it can be seen that this column has many values. However, despite the fact that there are many days, there are only 2 months: Jan and Feb and the year is the same. So, we can conduct feature extraction technique here to extract the month with the highes frequencies which can also be correlated to the months with the highest total claim amunt.*

In [ ]:
#converting data to datetime format
vals_df = pd.to_datetime(customer_df['Effective To Date'])

In [ ]:
#checking the frequency of values
vals_df.value_counts()

In [ ]:
#creating a dataframe with the value_counts of the values
date_df = pd.DataFrame(vals_df.value_counts())

In [ ]:
date_df

In [ ]:
date_df = date_df.reset_index()

In [ ]:
#Defining 2 columns for the previous dataset
date_df.columns = ['Effective To Date', 'Counts']

In [ ]:
date_df

In [ ]:
#Defining the condition for the high frequency(Considering that more than 170 is considered a high frequency)
vals_effective_max = date_df[date_df['Counts'] > 170]

In [ ]:
vals_effective_max

In [ ]:
vals_effective_max_new = list(vals_effective_max['Effective To Date'])

In [ ]:
vals_effective_max_new

In [ ]:
#Defining the function to retunr the months with the highest frequency
def month_extracter(x):
    if x in vals_effective_max_new:
        return x.month
    else:
        return 'not high'

In [ ]:
#applying the function
vals_df = vals_df.apply(month_extracter)

In [ ]:
vals_df

In [ ]:
vals_df.value_counts()

In [ ]:
vals_df.value_counts().plot(kind='bar', xlabel='Effective To Date', ylabel='count', rot=0)
plt.xticks(rotation = 45)
plt.show()

**Summary: It can be seen from the plot that the month with the highest frequency was January.**

# Lab data cleaning and wrangling

**We will start with removing outliers. So far, we have discussed different methods to remove outliers. Use the one you feel more comfortable with, define a function for that. Use the function to remove the outliers and apply it to the dataframe.**

In [ ]:
customer_df.head()

In [ ]:
customer_df['Number of Open Complaints'].value_counts()

In [ ]:
#Checking the outliers in numerical columns:
for i in numerical_df:
    sns.boxplot(data=customer_df, x=i, whis = 8)
    plt.show()

*The columns of 'Customer Lifetime Value', 'Monthly Premium Auto', 'Total Claim amount' have the highest number of outliers.*

In [ ]:
#Checking the null values to see if they have been considered as outliers
customer_df.isna().sum()

In [ ]:
#Calculating the iqr
iqr = np.percentile(numerical_df['Customer Lifetime Value'],75) - np.percentile(numerical_df['Customer Lifetime Value'],25) # measuring the iqr of the column
iqr

In [ ]:
# define the limits
upper_limit = np.percentile(numerical_df['Customer Lifetime Value'],75) + 8*iqr
lower_limit = np.percentile(numerical_df['Customer Lifetime Value'],25) - 8*iqr
upper_limit, lower_limit

In [ ]:
len(customer_df)

In [ ]:
#defining the function to remove outliers:
def outliers_remover(customer_df, threshold=1.5, in_columns=numerical_df.columns, skip_columns=[]):
    for column in in_columns:
        if column not in skip_columns:
            upper = np.percentile(customer_df[column],75)
            lower = np.percentile(customer_df[column],25)
            iqr = upper - lower
            upper_limit = upper + threshold * iqr
            lower_limit = lower - threshold * iqr
            customer_df = customer_df[(customer_df[column]>lower_limit) & (customer_df[column]<upper_limit)]
    return customer_df

In [ ]:
#Calling the function and changing the threshold:
customer_df1 = outliers_remover(customer_df, threshold=4, skip_columns=['Income', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies'])

In [ ]:
len(customer_df1)

*The number of deleted rows is 274 which isn't very high compared to the whole number of row.*

In [ ]:
#Checking the outliers in categorical columns vs the numerical continous target
for i in categorical_df:
    sns.boxplot(data=customer_df1, x=i, y='Total Claim Amount', whis = 5)
    plt.show()

*After deleting the outliers of 'total claim amount', the categorical data looks fine in case of outliers.*

**Create a copy of the dataframe for the data wrangling.**

In [ ]:
customer_df2 = customer_df1.copy()

In [ ]:
numerical_df2 = customer_df2.select_dtypes(np.number)
categorical_df2 = customer_df2.select_dtypes(np.object)

**Normalize the continuous variables. You can use any one method you want.**

In [ ]:
#Checking the distributions of numericals
for column in numerical_df:
    sns.distplot(customer_df2[column])
    plt.show()

In [ ]:
#Applying box cox transformation
import scipy.stats as stats

def boxcox_transform(X):
    numeric_cols = customer_df2.select_dtypes(np.number).columns
    _ci = {column: None for column in numeric_cols}
    for column in numeric_cols:
        # since i know any columns should take negative numbers, to avoid -inf in df
        customer_df2[column] = np.where(customer_df2[column]<=0, np.NAN, customer_df2[column]) 
        customer_df2[column] = customer_df2[column].fillna(customer_df2[column].mean())
        transformed_data, ci = stats.boxcox(customer_df2[column])
        customer_df2[column] = transformed_data
        _ci[column] = [ci] 
    return customer_df2, _ci
customer_df2, _ci = boxcox_transform(customer_df2)
customer_df2.head()

In [ ]:
for column in numerical_df:
    sns.distplot(customer_df2[column])
    plt.show()

**Encode the categorical variables**

In [ ]:
#encoding using ordinal encoding:
customer_df2["Coverage"] = customer_df2["Coverage"].map({"Basic" : 0, "Extended" : 1, "Premium" : 2})

In [ ]:
#one Hot encoding using 4 different columns
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
columns_to_one_hot = ['State','Marital Status','Policy Type','Policy', 'Renew Offer Type', 'Sales Channel', 'Response', 'Vehicle Class']
encoded_array = enc.fit_transform(customer_df2.loc[:,columns_to_one_hot])
categoricals_encoded = pd.DataFrame(encoded_array,columns=enc.get_feature_names_out() )
customer_df2 = pd.concat([customer_df2,categoricals_encoded],axis=1)
customer_df2.drop(labels= columns_to_one_hot,axis=1,inplace=True)
customer_df2

In [ ]:
customer_df2['EmploymentStatus'].value_counts()

In [ ]:
customer_df2["EmploymentStatus"] = customer_df2["EmploymentStatus"].map({"Employed" : 4, "Medical Leave " : 3, "Disabled" : 2, "Retired" : 1, 'Unemployed' : 0})

In [ ]:
customer_df2['Location Code'].value_counts()

In [ ]:
customer_df2["Location Code"] = customer_df2["Location Code"].map({"Urban" : 3, "Rural" : 2, "Suburban" : 1})

In [ ]:
customer_df2['Vehicle Size'].value_counts()

In [ ]:
customer_df2["Vehicle Size"] = customer_df2["Vehicle Size"].map({"Large" : 3, "Medsize" : 2, "Small" : 1})

**The time variable can be useful. Try to transform its data into a useful one. Hint: Day week and month as integers might be useful.**

In [ ]:
#changing the format of the column to datetime
vals_effective = pd.to_datetime(customer_df2['Effective To Date'])

In [ ]:
#Extracting the day data in a seperate column
customer_df2['day'] = vals_effective.dt.day

In [ ]:
#Extracting the month data in a seperate column
customer_df2['month'] = vals_effective.dt.month

In [ ]:
#Defining a function for deriving the week
def week_finder(x):
    if x <= 7:
        return 1
    elif 7<x<=14:
        return 2
    elif 14<x<21:
        return 3
    elif 21<x<=28:
        return 4
    else:
        return 5

In [ ]:
#applying the function on day column and defining a new column for the week column
customer_df2['week'] = customer_df2['day'].apply(week_finder)

In [ ]:
customer_df2['week'].value_counts()

In [ ]:
customer_df2.head()

**Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.**

*The only column that needs to be encoded is the 'Education' column. Ordinal encoding can be used.*

In [ ]:
customer_df2["Education"].value_counts()

In [ ]:
#ordinal encoding
customer_df2["Education"] = customer_df2["Education"].map({"Doctor" : 5, "Master" : 4, "Bachelor" : 3, "College" : 2, "High School or Below": 1})

In [ ]:
customer_df2

*as we have extracted the required data from effective to date, this column now can be dropped. Also, gender column can be dropped like before.*

In [ ]:
customer_df2 = customer_df2.drop(['Effective To Date', 'Gender'], axis = 1)

In [ ]:
customer_df2

*The Nan values have appeared because the outliers have been deleted and then concatenated again with encoded columns. It would be better if first encoding and then removing outliers could be performed.*